# 复制为 deploy/env/app.livekit.env
# docker compose -f deploy/docker-compose.yml --profile livekit --profile redis --profile app up -d --build

DB_TYPE=SQLite
DB_PATH=/app/db/app.db

REDIS_HOST=redis
REDIS_PORT=6379

JWT_KEY=please-change-me
JWT_KEY_TTL=24h

SFU_PROVIDER=livekit
LIVEKIT_HOST=ws://livekit:7880
LIVEKIT_KEY=API7ar5gCTyVkfY
LIVEKIT_SECRET=xtpW2PGUKPugyVzEvX4OaPaHtNGm5bRUmrIXe6NMIqb

STORAGE_TYPE=local
SERVER_PORT=8998
STATIC_DIR=/app/static
