@import "tailwindcss";
@config "../tailwind.config.ts";

/* biome-ignore lint/correctness/noInvalidPositionAtImportRule: <有毛病你报错> */
@import "./assets/styles/global.css";
@import "solid-notifications/index.css";

@plugin "daisyui" {
	themes: all;
	/* acid --default,, */
	/* dark --prefersdark; */
}

@plugin "daisyui/theme" {
	name: "acid";
	default: true;
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
}

@plugin "daisyui/theme" {
	name: "abyss";
	/* default: true; */
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
}

